<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
    	<title>EspagueteFood</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/estiloSistema.css}"/>
    	<script type="text/javascript" th:src="@{/js/script.js}"></script>
    </head>
    <body>

        <header>
            <div id="divLogotipoSistema">
                    <span id="spanAuxiliarDeAlinhamentoVertical"></span>
                    <a 	th:href="@{/}">
                		<img th:src="@{/imagens/espaguetedavovoicone.jpg}" id="imgLogotipoSistema"/>
               		</a>
            </div>
        </header>
        <br/><br/>
        <!-- Cabeçalho - Fim -->

       <div layout:fragment="content"></div>

        <!-- Rodapé - Início -->
    </body>
</html>